[submodule "free-code-camp-sert/boilerplate-npm"]
	path = free-code-camp-sert/boilerplate-npm
	url = https://github.com/freeCodeCamp/boilerplate-npm.git/
[submodule "free-code-camp-sert/boilerplate-express"]
	path = free-code-camp-sert/boilerplate-express
	url = https://github.com/freeCodeCamp/boilerplate-express.git
[submodule "free-code-camp-sert/boilerplate-mongomongoose"]
	path = free-code-camp-sert/boilerplate-mongomongoose
	url = https://github.com/freeCodeCamp/boilerplate-mongomongoose.git
[submodule "free-code-camp-sert/boilerplate-project-timestamp"]
	path = free-code-camp-sert/boilerplate-project-timestamp
	url = https://github.com/freeCodeCamp/boilerplate-project-timestamp.git
[submodule "free-code-camp-sert/boilerplate-project-headerparser"]
	path = free-code-camp-sert/boilerplate-project-headerparser
	url = https://github.com/freeCodeCamp/boilerplate-project-headerparser.git
